@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@300;400&family=Titillium+Web:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    height: 180px;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
  
}
.topbar{
    display: flex;
    width: 100%;
    height: 150px;
    font-family: 'Roboto', sans-serif;
}
.navbar1 ul li{
    list-style: none;
}
.navbar1 ul li a{
    text-decoration: none;
    color: black;
}
.navbar1 ul li a:hover .underline{
    display: block;
    color: black;
    width: 100%;
    height: 2px;
    background-color: Black;
    transition: 0.02s ease-in-out;

}
.navbar1 ul {
    display: flex;
    justify-content: space-around;
    margin-top:65px ;
    list-style: none;
    font-size: 20px;
    
}
.logo1{
    height: 140px;
    margin-left: 60px;
}
.navbar1{
    width: 60%;
    
}
.logo{
    width: 20%;
}
.search{
    margin-left: 20px;
    width: 200px;
    height: 18px;
    padding: 8px;
    margin-top: 57px;
    border-radius: 28px;
    background-color: green;
}
.search input{
    background-color: green;
    border-style: none;
}
.search ::placeholder{
    color: white;
    padding: 18px;
    font-size: 18px;
}
.icon i{
    color: white;
}
.navbar1 ul li{
    align-items: center;
    
}

.navbar2{
    width: 100%;
    height: 40px;
    background-color:green ;
    text-align: center;
}
.navbar2 ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 5px;
}
.navbar2 ul li{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.navbar2 ul li a:hover{
    color: crimson;

}
.navbar2 ul li a{
    text-decoration: none;
    color: white;
}
.maintxt{
    font-size: 70px;
    color:lightcoral;
    position:relative;
    top: 260px;
    margin-left: 660px;
}
.mainphoto{
    position: absolute;
}
.addpic{
    width: 100%;
}
.form-container{
    width: 100%;
    margin-top: 25px;
    background-color:lightgoldenrodyellow ;
    
}
form{
    margin-top: 200px;
    width: 50%; 
    height: 850px;
    display: block;
    font-size: 22px;
    margin-left: 340px; 
    padding: 50px;
    background-color:white;
    border-radius: 18px;
    border-style:groove;
    font-family: 'PT Sans Narrow', sans-serif;
}
.space2{
    height: 50px;
}
.form-head{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
label{
    font-weight: 500;
    margin-left: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}
legend{
    font-size: 32px;
}
fieldset{
    border-radius: 8px;
    font-family: 'PT Sans Narrow', sans-serif;

}
input{
    border-radius: 6px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.registerbtn {
    background-color:lightcoral;
    color: white;
    padding: 20px 25px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    font-size: 20px;
    border-radius: 80px;
}

.registerbtn:hover {
    opacity: 0.5;
}
.space{
    height: 200px;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: blanchedalmond;
    color: black;
    padding: 100 px 0 30px;
    border-top-left-radius:125px ;
    font-size: 15px;
    line-height: 20px;
}
.main{
    background-color: antiquewhite;
}
.space3{
    background-color: blanchedalmond;
    font-size: 50px;
    text-align: center;
}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border-radius: 5px;
}
.col{
    flex-basis: 25%;
    padding: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.col p{
    font-size: 20px;
    text-align: center;
}
.col h1{
    text-align: center;
} 
.col p a{
    text-decoration: none;
    color: black;
}
.col1{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}
.col1 h1{
    margin-top: 11px;
}
.myform{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.logo1{
    width: 120px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-right: 70px;
}
.form input{
    width: 100%;
    background: transparent;
    color: beige;
    border: 2px;
    outline: none;
    border-radius: 7px;
    height: 10px;
    margin-left: 90px;
    
}
.inp{
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.myform i{
    font-size: 35px;
}
.space1{
    width: 7px;

}
.space2{
    height: 50px;
}
.icons2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}
.icons2 a{
    color: black;
}
.icons2 a:hover{
    color: white;
    background-color: black;
    border-radius: 40px;
    padding: 6px;
}
